@charset "utf-8";
/* CSS Document */


.ui-widget-header {
    border: 0px solid #aaaaaa !important;
    background:#ffffff !important;
    color: #222222;
    font-weight: bold;
}

.header-bar {
	height:45px;
	background-color:#328fc2;
	padding-right:100px;
	padding-left:100px;
	/* Added for width of header
	width:1150px !important; */
}

.footer-bar { height:90px; background-color:#e7e8e9; padding-right:100px; padding-left:100px; color: #328fc2;
	font-family:Arial, Helvetica, sans-serif; padding-top:5px; }
body { margin:0px !important; padding:0px !important; }

td { padding:10px 20px; }


a.header:link, a.header:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #328fc2;
    text-align: center;
    padding: 4px;
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14pt;
	padding-top:11px;
	padding-bottom:11px;
	float:right;
}


a.header:hover {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #006999;
    text-align: center;
    padding: 4px;
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14pt;
	padding-top:11px;
	padding-bottom:11px;
	float:right;
}

a.login:link, a.login:visited { color:#ffffff !important; }

a.footer:link, a.footer:visited {
    font-weight: bold;
    color: #328fc2;
    background-color: #e7e8e9;
    text-align: center;
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
	float:right;
	padding-left:10px;
	padding-right:10px;
}

a.footer:hover {
    font-weight: bold;
    color: #ffffff;
    background-color: #006999;
    text-align: center;
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
	float:right;
	padding-left:10px;
	padding-right:10px;
}

bank {
	 color:#1c264a;
	 font-family:'myriad pro';
	 font-size:24pt;
	 padding-left:20px;
	 vertical-align:top;
}
