@charset "utf-8";
/* CSS Document */


.ui-widget-header {
    border: 0px solid #aaaaaa !important;
    background:#ffffff !important;
    color: #222222;
    font-weight: bold;
}

.header-bar {
	height:45px;
	background-color:#328fc2;
	padding-right:100px;
	padding-left:100px;
	/* Added for width of header
	width:1150px !important; */
}

.footer-bar { height:90px; background-color:#e7e8e9; padding-right:100px; padding-left:100px; color: #328fc2;
	font-family:Arial, Helvetica, sans-serif; padding-top:5px; }
body { margin:0px !important; padding:0px !important; font-size:10pt; }

td { padding:10px 20px; }


a.header:link, a.header:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #328fc2;
    text-align: center;
    padding: 4px;
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14pt;
	padding-top:11px;
	padding-bottom:11px;
	float:right;
}


a.header:hover {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #006999;
    text-align: center;
    padding: 4px;
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14pt;
	padding-top:11px;
	padding-bottom:11px;
	float:right;
}

a.login:link, a.login:visited { color:#ffffff !important; }

a.footer:link, a.footer:visited {
    font-weight: bold;
    color: #328fc2;
    background-color: #e7e8e9;
    text-align: center;
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
	float:right;
	padding-left:10px;
	padding-right:10px;
}

a.footer:hover {
    font-weight: bold;
    color: #ffffff;
    background-color: #006999;
    text-align: center;
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
	float:right;
	padding-left:10px;
	padding-right:10px;
}

bank {
	 color:#1c264a;
	 font-family:'myriad pro';
	 font-size:24pt;
	 padding-left:20px;
	 vertical-align:top;
}
    	.main_div {
			 width:650px;
			 padding-left:100px;
			 padding-right:25px;
		}
		#bank_title {
			 color:#650360;
			 font-size:36pt;
			 font-family:Arial, Helvetica, sans-serif;
		}
		ul, li { margin-left:10px; }
		#ami {
			background-color:#bbd8c4;
			margin-top:25px;
			padding:10px 150px 10px 10px;
		}
		ami_title {
			color:#650360;
			font-size:16pt;
			font-weight:bold;
		}
		.login_bg {
			background-color:#650360;
			color:white;
			width:250px;
			padding:10px 0px;
		}
body {margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #328fc2;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 11px 0px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14pt;
  width:120px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
}

ul.topnav li a:hover {background-color: #006999;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}